
{% extends "layout-home.html.twig" %}
{% block title %}Liste des membres{% endblock %}
{% block head %}
<link href="assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
{% block content %}
{% endblock %}
<div class=" container-fluid   container-fixed-lg bg-white">
    <div class="card card-transparent">
        <div class="card-header ">
            <div class="card-title">Liste des membres</div>
        </div>
        <div class="card-block">
            <div class="table-responsive">
                <table class="table table-hover" id="basicTable">
                    <thead>
                        <tr>
                            <th style="width:10%">Photo</th>
                            <th style="width:10%">Pseudo</th>
                            <th style="width:10%">Nom</th>
                            <th style="width:10%">Prenom</th>
                            <th style="width:10%">Email</th>
                            <th style="width:10%">Téléphone</th>
                            <th style="width:5%">Création</th>
                            <th style="width:5%">Modifier</th>
                            <th style="width:1%" class="text-center">
                                <button class="btn btn-link"><i class="fa fa-trash"></i></button>
                            </th>
                            <th style="width:1%" class="text-center">
                                <a href="{{ path('ajoutMembre') }}">
                                    <button class="btn btn-link"><i class="fa fa-user-plus"></i></button>
                                </a>   
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <a href="">
                                    <td class="v-align-middle ">
                                        <img src="assets/img/profiles/avatar.jpg" alt="avatar">
                                    </td>
                                    <td class="v-align-middle ">
                                        <p>{{ user.username }}</p>
                                    </td>
                                    <td class="v-align-middle ">
                                        <p>{{ user.firstname }}</p>
                                    </td>
                                    <td class="v-align-middle ">
                                        <p>{{ user.lastname }}</p>
                                    </td>
                                    <td class="v-align-middle">
                                        <p>{{ user.email }}</p>
                                    </td>
                                    <td class="v-align-middle">
                                        <p>{{ user.tel }}</p>
                                    </td>
                                    <td class="v-align-middle">
                                        <p>{{ user.created | date("d-m-Y")  }}</p>
                                    </td>
                                    <td class="v-align-middle">
                                        <a href="{{ path('infoMembre', {id: user.id}) }}">
                                            <button class="btn btn-link"><i class="fa fa-pencil"></i></button>
                                        </a>  
                                    </td>
                                    <td class="v-align-middle">
                                        <div class="checkbox text-center">
                                            <input type="checkbox" value="{{ loop.index }}" id="checkbox{{ loop.index }}">
                                            <label for="checkbox{{ loop.index }}" class="no-padding no-margin"></label>
                                        </div>
                                    </td>

                                </a>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}