
{% extends "layout-home.html.twig" %}
{% block title %}Gestion Recettes{% endblock %}
{% block content %}
    <div class=" container-fluid  container-fixed-lg bg-white">
    <div class="card card-transparent">
        <div class="card-header ">
            <div class="card-title">Pages Default Tables Style
            </div>
        </div>
        <div class="card-block">
            <div class="table-responsive">
                <table class="table table-hover" id="basicTable">
                    <thead>
                        <tr>

                            <th style="width:20%">Id</th>
                            <th style="width:20%">name</th>
                            <th style="width:20%">json</th>
                            <th style="width:1%" class="text-center">
                                <button class="btn btn-link"><i class="pg-trash"></i></button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for recipe in recipes %}
                            <tr>
                                <a href="">
                                    <td class="v-align-middle ">
                                        <p>{{ recipe.id }}</p>
                                    </td>
                                    <td class="v-align-middle ">
                                        <p>{{ recipe.name }}</p>
                                    </td>
                                    <td class="v-align-middle">
                                        <p>{{ recipe.json }}</p>
                                    </td>
                                    <td class="v-align-middle">
                                        <a href="{{ path('infoMembre', {id: recipe.id}) }}">
                                            <button class="btn btn-link"><i class="fa fa-pencil"></i></button>
                                        </a>  
                                    </td>
                                    <td class="v-align-middle">
                                        <div class="checkbox text-center">
                                            <input type="checkbox" value="{{ loop.index }}" id="checkbox{{ loop.index }}">
                                            <label for="checkbox{{ loop.index }}" class="no-padding no-margin"></label>
                                        </div>
                                    </td>

                                </a>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}